/* Убираем внешние и внутренние отступы */
* {
  padding: 0;
  margin: 0;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  // Добавьте это, чтобы отключить зум по двойному тапу (если meta viewport не сработает)
  touch-action: manipulation;
}


/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: normal;
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a сбрасываем до дефолтных стилей */
a {
  cursor: pointer;
  color: inherit;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}


/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}