@use "mixins/functions" as *;
@use "variables" as *;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Nunito Sans', "Open Sans", sans-serif;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: rem(16);
  color: $basic-color;

  @include respond(sm) {
    font-size: rem(15);
  }

  &::-webkit-scrollbar {
    width: 0; //скрыть скролл
  }

  &.modal-mode {
    overflow: hidden;
  }

}

.workarea {
  min-height: 30vh;
  flex: 1 1 auto;
}

.header,
.footer {
  flex-shrink: 0;
}

.base-container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: rem(1920);

  @include respond(xl) {
    width: calc(100vw - 46px);
  }

}


@include respond(xl) {


}

@include respond(lg) {

}

@include respond(md) {

}

@include respond(sm) {

}