@use "mixins/functions" as *;
@use "variables" as *;

html {
  // для PWA: запрет "пружинки" при скролле за пределы страницы
  overscroll-behavior-y: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Используем 100dvh для мобильных (учитывает адресную строку) */
  min-height: 100dvh;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: rem(16);
  color: $basic-color;

  @include respond(sm) {
    font-size: rem(15);
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &.modal-mode {
    overflow: hidden;
  }
}


.base-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  padding: 0;
  margin: 0;
}

.workarea {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
}

/* Стили для контейнера React приложения */
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100%;
}

.header,
.footer {
  flex-shrink: 0;
}

.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: rem(1920);

  @include respond(xl) {
    width: calc(100vw - 46px);
  }

  @include respond(sm) {
    width: 100%;
  }
}